body {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 992px) {
 .contact-bg p{
    font-size: 24px!important;
  }
}
@media (max-width: 576px) {
  .contact-bg p{
     font-size: 16px!important;
   }
 }
 
 @media (max-width: 992px) {
  .schedule-bg p{
     font-size: 24px!important;
   }
 }
 @media (max-width: 576px) {
   .schedule-bg p{
      font-size: 16px!important;
    }
  }

.main-page {
  background-image: url('./Images/background1.png');
  background-size: cover; /* Ensures the full image is visible */
  background-position: center;
  /* Makes the background fill the full height of the viewport */
  width: 100%; /* Ensures the background spans the full width */
}

.custom-navbar {
 /* Make the navbar take up only as much space as needed */
  background-color: transparent; /* Remove the background if not needed */
  z-index: 999; /* Make sure it's above other content */
}
.form-custom-css{
  background:#E9F6FC;
  ; /* White background for the form */
  border-radius: 0px 30px 0 30px; /* Optional: rounds the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for a lifted effect */
  max-width: 600px; /* Maximum width to limit form size on larger screens */
  margin: 20px auto; /* Centers the form horizontally */
   /* Allows form to take 90% of the width on smaller screens */
}
.main-form--header-css{
 background: #0A1A3B;
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 30px 40px 10px 40px; /* Padding inside the header */
    border-radius: 0px 30px 0 0; /* Optional: rounds the top corners */
}
.form-control::placeholder {
  color: black; /* Set the placeholder color to black */
  opacity: 1; /* Ensures the color is fully opaque */
}
@media (max-width: 576px) { /* For small screens and below */
  .mainimg-css{
    width: 30%; /* Adjust as needed */
  }
}

@media (min-width: 577px) { /* For larger screens */
  .mainimg-css{
    width: auto; /* Or set a specific width for larger screens */
  }
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
}


.line-spacing {
  line-height: 2.0; /* Adjust the line-height value as needed */
}
.collapse-css{
  flex-grow: 0;
}

.services-border{
  border-radius: 0px 10px 0 10px; /* Optional: rounds the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for a lifted effect */
  background-image: linear-gradient(white, white), /* Inner background */
                      linear-gradient(rgba(33, 162, 223, 0.6), rgba(33, 162, 223, 0.15)); /* Gradient for the border */
    background-origin: border-box;
    background-clip: padding-box, border-box;
    height: 250px; 
    flex-grow: 1;
    overflow-y: auto;
}
.fw-card{
  font-weight: 600;
}
.contact-btn{
  background-color: #1890CF;
}

.qa-card{
  min-height: 300px;
}

.quote-img {
  background-image: url('./Images/quote-bg.svg');
  background-size: cover;
  background-position: center;
  /* Makes the background fill the full height of the viewport */
  width: 100%; /* Ensures the background spans the full width */
  padding: 70px;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  .quote-img {
    padding: 40px;
    margin-top: 20px; 
    margin-bottom: 40px;
  }
}
@media (max-width: 992px) {
  .number-margin {
    margin-top: 0 !important   
  }
  .margin-sm {
    margin-top: 15px !important  
  }
}
@media (max-width: 992px) {
  .number-margin h5 {
    font-size: 15px !important;   
  }
}
@media(max-width:300px){
  .number-img{
    max-width: 50px!important;
    height: auto;
  }
}

.main-btn{
  color: #42a4f5;
}
.main-btn:hover{
  background-color:#0089f9;
  color: white;
  border: 1px solid #0089f9;
}
.tick-images{
  max-width: 50px;
  height: auto;
}
.schedule-bg{
  background-image: url('./Images/schedule-bg.svg');
  background-size: cover;
  background-position: center;
}
.contact-bg{
  background-image: url('./Images/contact-bg.svg'); /* Ensures the full image is visible */
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Horizontally centers content */
  align-items: center;
 
}
/* @media (max-width: 768px) {
  .contact-bg{
    margin-top: 40px;
  }
} */


.product-swipper-css > .swiper {
  width: 100%;
  height: 100%;
}

.product-swipper-css > .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-swipper-css > .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width:567px) {
  .services-p p{
    font-size: 20px!important;
  }
}



marquee {
  border: none;;
  background-color:transparent;;
}

.custom-size {
  width: 195px; /* or a percentage for responsive width */
  height: 195px; /* fixed height */
  object-fit: contain; /* ensures the image maintains aspect ratio */
  margin-right: 70px;
}

.product-bg{
  background-image: url('./Images/footer/bg.png'); /* Ensures the full image is visible */
  background-repeat: no-repeat;
  background-position: top left;
  background-position-y: 28%; 
  background-position-x: 30%;
}

@media(max-width:568px){
  .qa-h h4{
    font-size: 20px!important;
  }
  .qa-h p{
    font-size: 12px!important;
  }
}

@media (max-width: 350px) {
  .card-title {
    font-size: 12px !important;
  }

  .card-text {
    font-size: 9px !important;
  }

  .qa-media img {
    padding-bottom: 3px !important;
  }
}


/* POPHOVER CARD */

.card{
  transition: all 0.3s;
  position: relative;
}

.card:hover {
  transform: scale(1.12);
  z-index: 2;
  margin: 10px;
  overflow-y: auto;
}
.card .card-text{
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines initially */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; /* Hide the rest of the text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.card:hover .card-text {
  -webkit-line-clamp: unset; /* Remove line clamp on hover */
  line-clamp: unset;
  overflow: visible; /* Show all text on hover */

}

.card::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

/* Style the scroll bar track (background of the scrollbar) */
.card::-webkit-scrollbar-track {
  background-color: rgba(33, 162, 223, 0.1);/* Light background for the scrollbar track */
  border-radius: 20px; /* Round the corners */
  margin-top: 3px;
  
}
.card::-webkit-scrollbar-thumb {
  background-color: #42a4f5; /* Change the color on hover */
  border-radius: 30px;
}


/* Rotatingimage */
.rotating-image {
  animation: rotate 10s linear infinite; /* Adjust duration and timing function as needed */
}

/* Define the rotation keyframes */
@keyframes rotate {
  from {
    transform: rotate(0deg); /* Starting point */
  }
  to {
    transform: rotate(360deg); /* Ending point */
  }
}

.product-img-wrapper {
  width: 100%; /* Full width for responsive layout */
  height: 450px; /* Fixed height for consistency */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines initially */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.product-img{
  width: 100%; /* Ensure images fill the wrapper */
  height: 100%; /* Maintain aspect ratio */
  object-fit: contain;  /* This makes sure the image fits within the div without stretching */
  
}
@media(max-width: 568px){
  .product-img{
    border-radius: 0px !important;
  }
}
.product-limit {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines initially */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; /* Hide the rest of the text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}


.product-img-wrapper:hover .product-limit {
  -webkit-line-clamp: unset; /* Remove line clamp on hover */
  line-clamp: unset;
  overflow: visible;
}

.product-img-wrapper:hover {
  overflow: auto;
  height: 350px;
}

.product-img-wrapper::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

/* Style the scroll bar track (background of the scrollbar) */
.product-img-wrapper::-webkit-scrollbar-track {
  background-color: rgba(33, 162, 223, 0.1);/* Light background for the scrollbar track */
  border-radius: 20px; /* Round the corners */
  margin-top: 3px;
  
}
.product-img-wrapper::-webkit-scrollbar-thumb {
  background-color: #42a4f5; /* Change the color on hover */
  border-radius: 30px;
}